@import"mixins";
@include font-face('Gilroy', '../fonts/Gilroy-Bold',700,normal);
@include font-face('Gilroy', '../fonts/Gilroy-SemiBold',700,normal);
@include font-face('Gilroy', '../fonts/Gilroy-Regular',400,normal);
@include font-face('Gilroy', '../fonts/Gilroy-Medium',500,normal);


