@media only screen and (max-width : 1200px) {
    .about-famous{
        .slick-prev{
            left: 500px;
            left: 430px;
              
          
        }
        .slick-next{
               top: 350px;
            right: 450px;
          
        }
    }
   
    .main-info .main__img{
        min-height: auto;
        width: 100%;
    }
	.container{
		max-width: 970px;
    }
    .contacts-wrap{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .about-award{
        .award-wrap{
            justify-content: center;
        }
    }
    .about-award .award-wrap .awards:nth-child(3n+2){
        margin: 0;
    }
    .award-wrap :nth-child(3n+2) .awards__text::before{
        display: none;
    }
    .award-wrap :nth-child(3n+2) .awards__text::after{
        display: none;
    }
}
@media only screen and (max-width : 992px) {
    .about-famous .slick-slide.slick-current.slick-active.slick-center blockquote{
        position:static;
        margin-left: 0;
    }
    .about-famous{
        .slick-prev{
            left: 500px;
            left: 310px;
              
          
        }
        .slick-next{
               top: 350px;
            right: 330px;
          
        }
    }
    .main-info{
        min-height: auto;
        .main__img{
            min-height: auto;
        }
    }
    .about-press .container{
        padding: inherit;
    }
    .form-wrap .form__label--double{
        flex-direction: column;
    }
    .header {
        .nav{
            display: none;
        
        }
        
        
        .burger{
            margin-right: 40px;
            display: block;
        }
    }
    
    
    
    .festival{
        grid-template-columns: 1fr!important;
    }
    .about-main{
        padding-bottom: 0;
    }
    .container{
		max-width: 730px;
    }
    .full-news{
        &-wrapper{
            flex-wrap: wrap;
        }
    }
    main{
        padding-bottom: 240px;
    }
    .footer{
        height: 260px;
        .social__link{
            &:first-child{
                margin: 0;
            }
        }
        &-nav{
            flex-direction: column;
        }
    }
    .about-famous{
        padding-bottom: 60px;
    }
    .about-press{
        padding: 50px 0;
    }
    .community{
        padding: 30px 0;
    }
    .news{
        padding: 30px 0;
    }
    .award{
        padding: 30px 0;
    }
    .family{
        padding: 30px 0;
    }
    .hear{
        padding: 30px 0;
    }
    .main{
        padding: 80px 0;
    }
    .menu2{
        margin: 20px 0;
    }
    .community-page{
        .community-wrap{
            justify-content: space-around;
            a{
                margin: 30px 0;
                width:50%;
            }
        }
    }
}
.contacts-map{
   // width: 90%;
}
@media only screen and (max-width : 768px) {
    .main-header{
        top: -40px;}
        
    .header .show ul{
        height: 80vh;
        
        & li{
            position: relative;
             &::after{
                position: absolute;
                content: '';
                width: 80vw;
                height: 2px;
                bottom: -30px;
                left: 50%;
                transform: translate(-50%);
                background: #848181;
             }
             &:last-child{
                &::after{
                    display: none;
                } 
            }
        }
       
    }
    .about-press .press-slider__card blockquote{
        width: 90%;
        margin: 0 auto;
    }
    .about-famous{
        padding-bottom: 60px;
        .slick-prev{
            left: 500px;
            left: 210px;
              
          
        }
        .slick-next{
               top: 350px;
            right: 230px;
          
        }
    }
    .main__title{
        margin-left: 0px;
    }
    .main__text{
        margin-left:0;
    }
    .main-about{
        padding: 20px 0 10px;
        bottom:-20px;
    }
    .about-press{
        padding: 20px 0;
    }
    .about-press .container{
        padding:90px;
    }
    .about-press{
        background-image: none;
    }
    .contacts-info{
        text-align: center;
    }
    .news{
        background-image: none;
    }
    .full-news{
        background-image: none;
        .big-news-card figure{
            height: 320px;
        }
        &-wrapper{
            justify-content: center;
        }
    }
    .award-wrap{
        justify-content: center;
    }
    .container{
		max-width: 550px;
    }
    
}
@media only screen and (max-width : 576px) {
    .bg-right{
        background-image: none;
    }
    .about-main__subtitle{
        font-size: 20px;
    }
    .award .awards__title{
        font-size: 55px;
    }
    .about-details .festival li{
        font-size: 16px;
    }
    .about-main__text{
        font-size: 16px;
    }
   .main{
     padding-top: 80px;
     padding-bottom: 20px;
   }
    .section-title{
        font-size: 30px;
    }
    .award .awards__text{
        font-size: 18px;
    }
    .article__title{
        font-size: 20px;
    }
    .article__text{
        font-size: 18px;
    }
    .main.year{
        margin-right: -50px;
    }
    .main .year span{
        font-size: 20px;
        text-align: center;
        
    }
    .main-header{
        top: -50px;
        .main__subtitle{
            font-size: 18px;
            position: absolute;
            margin-left: -40px;
        }
        .main__title{
            font-size: 25px;
            margin-right: -80px;    
        }
    }
    .main-about{
     .main__text{
         display: none;
     }
     .btn-about{
         margin-bottom: 40px;
         margin-left: 20px;
     }
    }
    .about-famous{
        .slick-prev{
           display: none!important;
              
          
        }
        .slick-next{
             display: none!important;
          
        }
    }
    .container{
		max-width: 100%;
		padding:0 20px;
    }
  
    .family-wrap{
        flex-wrap: wrap;
        justify-content: center;
        .section-title{
            text-align: center;
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-width : 480px) {
    .about-famous .slick-slide.slick-current.slick-active.slick-center .famous-text{
        font-size: 10px;
    }
    .header .burger{
        margin-right: 20px;
    }
    .about-details .festival{
        padding: initial;
    }
    .about-press .container{
        max-width: 100%;
        padding: 0 20px;
    }
   
    .full-news .big-news-card figure{
        height: auto;
    }
    main{
        padding-bottom: 280px;
    }
    .footer{
        height: 280px;
        .footer-colum{
            margin-right: 0;
        }
    }
    .award-wrap :nth-child(3n+2) .awards__text::before{
        left: -70px;
    }  
    .award-wrap :nth-child(3n+2) .awards__text::after{
        right: -75px;
    } 
}

// Extra Small Devices, Phones
@media only screen and (max-width : 380px) {
    .main .year{
        margin-right: -10px;
    }
    .main-header .main__title{
        margin-right: -60px;
    }
    .form-wrap .form__title{
        font-size: 18px;
    }
    .main-header{
        top: -80px;
    }
    .main-about{
        bottom: 0;
        .btn-about{
            font-size: 18px;
        }
    }
    .main{
        padding-bottom: 20px;
        padding-top: 80px;
     }
    
        main{
            padding-top: 140px;
        }
    .header{
        .container{
            padding:0 10px ;
        }
    }
    .header-wrap{
        
    
    flex-wrap: wrap;
    .logo{
        width: 100px;
        height: 100px;
        
        & a {
            display: flex;
        }
    }
    }
    .logo{
        margin-bottom: 10px;
    }
    .burger{
        margin-right: 0px!important;
       
    }
	body{
        min-width: 320px;
    }
    .community-page{
        .community-wrap{
            
            a{
                margin: 20px 0;
                width:100%;
            }
        }
    }

}