@import 'clear';
@import 'mixins';
@import 'fonts';
@import 'variables';

@import './components/discography.scss';
@import './components/image-preview.scss';

* {
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html{
    position:relative; 
    min-height:100%;
}
body{
    font-family: 'Gilroy';
}
main{
    padding-top: 100px;
    padding-bottom: 140px;
}

audio {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.audio-name {
    font-size: 25px;
    margin-bottom: 16px;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.section {
    margin-top: 48px;
}

@mixin text-field {
    background-color: #F0F0F0;
    padding: 8px;
    margin-top: 8px; 
    border: none;
    outline: none;
    font-size: 12px;
}

.input {
    height: 30px;
    @include text-field;
}

.textarea {
    @include text-field;
    height: 140px;
}

.label {
    font-size: 16px;
    color: black;
    font-weight: 500;
    display: block;
}

.btn{
    cursor: pointer;
    padding: 12px 35px;
    color: white;
    background-color: $red;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}
.center {
    text-align: center;
}
.header{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    position: fixed; 
    left: 0; 
    right: 0;
    z-index: 50;
    top: 0; 
    .burger{
        display: none;
        & span{
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
            display: block;
        }
    }
    
    .burger-active .change1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .burger-active .change2{opacity: 0;}
      
      .burger-active .change3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    .btn{
        &:hover{
            transition: color 0.25s ease-out;
            color: #000000;
        }
    }
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        display: flex;
        &__image{
            max-width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .logo a {
        width: 130px;
        height: 100px;
    }
    .nav{
        max-width: 680px;
        width: 100%;
        position: relative;
        & ul{
            display: flex;
        justify-content: space-between;
        align-items: center ;
        }
        &__link{
            font-family:'Gilroy';
            color: $gray;
            text-decoration: none;
            &:hover,:active{
                color: #000000;
                transition: color 0.25s ease-out;
            }
        }
       
    }
    @keyframes opacityAnimate{
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }
    .dropdown-active{
        //display: block!important;
       // position: absolute;
    }
    .show{
        display: block!important;
        position: absolute;
        top: 98px;
        background-color: white;
        right: 0;
        width: 100%;
        height: 100vh;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        .menu1{
            flex-direction: column;
        }
        & ul{
          
            padding: 20px 0;
            height: 100%;
            flex-direction: column;
            transition: opacity ease-in;
            animation: opacityAnimate 2s ease-out;
        }
    }
    .default{
        padding: 5px 0;
       & img{
           margin-left: 5px;
           
       }
    }
   .dropdown{
       position: relative;
       
       &:hover{
           .dropdown-content{
            display: block; 
           }
       }
       &-content{
        position: absolute;
        display: none;
        bottom: -20px;
       }
       
   }
}
.main{
    .slick-prev{
        left: 0;
        z-index: 2;
    }
    .slick-next{
        z-index: 2;
        right: 25px;
    }
    .slick-next:before{
        content: url(../img/right.svg);
    }
    .slick-prev:before{
        content: url(../img/left.svg);
    }
    .slick-dots li{
        margin: 0 15px;
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    .slick-dots{
        z-index: 1;
        bottom: 15px;
    }
    .slick-dots li button{
        width: 30px;
        height: 6px; 
    }
    .slick-dots li button:before{
        content:url(../img/ul.svg);
        width: 30px;
        height: 6px;
        margin-right: 5px;
       
    }
    padding: 60px 0;
    &__title{
        font-family: 'Gilroy';
        font-weight: 700;
        opacity: 0.75;
        font-size: 50px;
        line-height: 59px;
        color: #000000;
        margin-left: 180px;
    }
    &-wrap{
        padding-top: 10px;
        //background: #fafeff;
        position: relative;
    }
    &__subtitle{
        font-family: 'Gilroy';
        font-style: italic;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        opacity: 0.75;
        margin-left: 180px;
    }
    .year{
            font-family: 'Gilroy';
            margin-right: 35px;
            font-weight: 700;
            padding-top: 10px;
            font-size: 13px;
            color: rgba(0, 0, 0, 0.5);
        & span{
            display: block;
            font-size: 40px;
        }
    }
    &-info{
        min-height: 637px;
        .main__img{
            min-height: 607px;
        }
    }
    &-header{
        top: 10px;
        position: absolute;
        max-width: 1170px;
        width: 100%;
        z-index: 1;
        display: flex;
        &__wrap{
            margin: 0 auto;
        }
    }
    &__text{
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 35px;
        line-height: 41px;
        margin-left: 70px;
        max-width: 700px;
        width: 100%;
        color: #000000;
        margin-bottom: 30px;
    }
    .btn-about{
        cursor: pointer;
        max-width: 146px;
        width: 100%;
        font-size: 20px;
        color: #000000;
        margin-left: 70px;
        &::after{
            content: url(../img/black-arrow.svg);
        }
        
    }
    &-about{
        left: 0;
        right: 0;
        bottom: 0px;
        position: absolute;
        max-width: 1170px;
        margin: 0 auto;
        padding: 100px 0 50px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.401042) 22.4%, rgba(255, 255, 255, 0.7) 50.52%, #FFFFFF 100%)
         
    }
}
.section-title{
    color:  #FFFFFF;
    font-family:'Gilroy';
    font-weight: 500;
    font-size: 35px;
    &-black {
        color: black;
    }
}
.btn-about{
    position: relative;
    display: flex;
    align-items: center;
    font-family:'Gilroy' ;
    font-weight: 500;
    text-decoration: none;
    &::after{
        position: absolute;
        content: url(../img/black-arrow.svg);
        right: -20px;

    }
    &:hover{
        &::after{
            transition: right 0.25s ease-out;
            right: -4px;
        }
    }
}
.award{
    background-color: $gray2;
    padding: 60px 0;
    &-wrap{
        margin-top: 63px;
        margin-bottom: 63px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        :nth-child(3n+2){
            .awards__text{
                &:after{
                    content: '';
                    display: block;
                    width: 155px;
                    height: 1px;
                    background-color: $gray;
                    transform: rotate(90deg);
                    position: absolute;
                    top: 75px;
                    
                    right: -110px;
                }
                &::before{
                    content: '';
                    display: block;
                    width: 155px;
                    height: 1px;
                    background-color: $gray;
                    transform: rotate(90deg);
                    position: absolute;
                    top: 75px;
                    
                    left: -110px;
                }
            }
           }
    }
    &__btn{
        
      max-width: 190px;
      margin:0 auto;
      color: #000000;
      font-size: 20px;
    }
    .awards{
        
        max-width: 335px;
        
      
        &__title{
            font-weight: 700;
            font-family: 'Gilroy';
            font-size: 65px;
            color: $white_red;
            text-align: center;
            
            line-height: 111px;
            width: 100%;
            margin: 20px auto;
        }
        &__text{
            margin: 0 auto;
           padding: 0 15px;
            
            width: 100%;
            color:  #848181;
            font-family:'Gilroy' ;
            font-size: 22px;
            text-align: center;
            line-height: 29px;
            position: relative;
           
        
            
           
        }
    }
    .section-title{
        color: #000000;
        text-align: center;
    }
}
.news{
    padding: 60px 0;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: center;
    .section-title{
        text-align: center;
        color: #000000;
    }
    &-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 30px 0 45px 0;
    }
    
    
    &__btn{
        color: #000000;
        max-width: 160px;
        margin: 0 auto;
        font-size: 20px;
        
    }
}
.article{
    &:hover{
        transform: scale(1.1) ;
        figure{
            &::before{
                bottom: -1px;
            }
        }
    }
    margin: 15px;
    max-width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 13px;
    background: white;
    min-height: 464px;
    &-section{
        margin-bottom: 10px;
    padding:0 20px  0 30px;
    }
    figure{
        width: 300px;
        height: 220px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 0;
            z-index: 5;
            height: 0;
            border-style: solid;
            border-width: 30px 150px ; 
            border-color: transparent transparent white white;  /* red — цвет */  
            bottom: 0;
            right: 0;
            left: 0;
           // background-color: white;
        }
    }
    &__img{
        object-fit:cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
    &__date{
        position: relative;
        top:-10px;
        font-size: 20px;
        font-family: 'Gilroy';
        color: #848181;
        z-index: 6;
    }
    &__title{
        font-weight: 700;
        font-family: 'Gilroy';
        font-size: 25px;
        line-height: 31px;
        color: #000000;
        margin-bottom: 12px;
        height: 93px;
        overflow: hidden;
    }
    &__text{
        font-family: 'Gilroy';
        font-size: 20px;
        line-height: 23px;
        color: $gray;
        width: 250px;
        height: 90px;
        overflow-wrap: break-word;
        overflow: hidden;
        word-break: break-all;
        margin-bottom: 20px;
        
    }
    .btn-article{
        color: #8F0303;
        margin-left: auto;
        margin-right: 17px;
        max-width: 82px;
        &::after{
            right: 0px;
            bottom: -2px;
            content: url(../img/red-arrow.svg);
        }
    }
}
.family{
    background: #484B4C;
    padding: 60px;
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn {
        font-size: 20px;
        background-color: #484B4C;
        border: 2px solid #FFFFFF;
        &:hover{
            transition: color 0.25s ease-out; 
            background-color: #FFFFFF;
            border: 2px solid  #484B4C;
            color:#484B4C ;
        }
    }
    .section-title{
        font-size: 25px;
    }
}
.hear{
    padding: 60px;
    background-color: $gray2;
    .btn {
        font-size: 20px;
        background-color:  $gray2;
        border: 2px solid  $gray;
        color: $gray;
        &:hover{
            transition: color 0.25s ease-out; 
            background-color: $gray ;
            border: 2px solid  $gray2;
            color: $gray2;
        }
    }
    .section-title{
        color: $gray;
        font-size: 25px;
    }
}
.community{
    padding: 60px 0 ;
    .btn-about{
       max-width: 160px;
      
    }
    a{
        outline: none;
        cursor: pointer;
    }
    .slick-prev{
        left: 0;
        z-index: 2;
    }
    .slick-next{
        z-index: 2;
        right: 25px;
    }
    .slick-next:before{
        content: url(../img/right.svg);
    }
    .slick-prev:before{
        content: url(../img/left.svg);
    }
    .section-title{
        text-align: center;
        color: #000000;
    }
    &-wrap{
        margin: 90px 0;
    }
    &__img{
        object-fit: scale-down;
        height: 100px;
        margin: 0 auto;
    }
}
.contacts {
    padding: 60px 0 80px;

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 0 80px;

        @media (max-width: 992px) {
          padding: 0;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }

        $person-width: 268px;

        &__person-description {
            width: $person-width;
            padding: 24px 36px;
            background: white;
            box-shadow: $box-shadow;
    
            img {
                object-fit: cover;
                width: 195px;
                height: 195px;
                border-radius: 50%;
            }
    
            &__name {
                text-align: center;
                white-space: normal;
                margin: 24px 0;
                font-size: 20px;
                color: black;
                line-height: 1.4;
            }

            @media (max-width: 768px) {
                width: 100%;
                margin-bottom: 32px;

                img {
                    display: block;
                    margin: auto;
                }
        
                &__name {
                    text-align: center;
                }
            }
    
            hr {
                border: none;
                height: 1px;
                background-color: black;
                margin-bottom: 24px;
            }
    
            a {
                font-size: 14px;
                color: black;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 12px;
                display: flex;
                align-items: center;

                &:before {
                    padding-right: 8px;
                }
            }

            &__email {
                &:before{
                    content: url(../img/email.svg);
                    margin-left: -4px;
                    margin-bottom: -4px;
                }
            }

            &__phone {
                &:before{
                    content: url(../img/phone.svg);
                }
            }
        }
    
        &__form {
            background: white;
            box-shadow: $box-shadow;
            padding: 24px 32px;
            width: calc(100% - #{$person-width + 120px});

            @media (max-width: 976px) {
              width: calc(100% - #{$person-width + 20px});
            }

            @media (max-width: 768px) {
                width: 100%;
            }

            input, textarea {
                margin-bottom: 28px;
                width: 100%;
            }

            &__control {
                width: 45%;
            }

            &__fullname {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            @media (max-width: 668px) {
                &__fullname {
                    flex-direction: column;
                    align-items: flex-start;
                }

                &__control {
                    width: 100%;
                }
            }

            &__btn-wrapper {
                text-align: center;

                input {
                    width: 150px;
                    margin: 0;
                }
            }
        }
    }

    .section-title{
        text-align: center;
        color: #000000;
        margin-bottom: 60px;
    }
    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1200px) {
            padding: 0 20px;
        }

        @media (max-width: 992px) {
            padding: 0;
        }

        @media (max-width: 668px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &-map{
        width: 70%;

        @media (max-width: 1300px) {
            width: 60%;
        }

        @media (max-width: 1200px) {
            width: 100%;
            margin-bottom: 24px;
        }

        section, iframe, img {
            width: 100%;
        }

        & img {
            object-fit: cover;
        }
    }
    &-info {
        background-color: white;
        margin-right: 16px;

        @media (max-width: 1200px) {
            width: 100%;
            padding: 16px 0;
        }
    }
    &__title{
        font-family:'Gilroy' ;
        font-weight: 500;
        font-size: 30px;
        color: #000000;
        margin-bottom: 15px;

        @media (max-width: 968px) {
            font-size: 26px;
        }
    }
    &__text{
        font-size: 20px;
        line-height: 23px;
        text-decoration: none;
        display: block;
        color: #000000;
        font-family: 'Gilroy';


        @media (max-width: 968px) {
            font-size: 16px;
        }
    }
    &-about{
        &:last-child{
            margin-top: 20px;
        }
    }
}
.footer{
    padding: 20px;
    background-color: #484B4C;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    .btn {
        font-size: 20px;
        background-color: #484B4C;
        border: 2px solid #FFFFFF;
        &:hover{
            transition: color 0.25s ease-out;
             background-color: $gray2;
            border: 2px solid $gray2;
            color: #484B4C;
        }
    }
        &-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-menu{
            display: flex;

        }
        &-colum{
            display: flex;
            flex-direction: column;
            margin-right: 70px;
        }
        &__link{
            font-family: 'Gilroy';
            font-size: 18px;
            line-height: 23px;
            text-decoration: none;
            color: #FFFFFF;
            margin: 5px 0;
            &:hover{
                transition: color 0.25s ease-out;
                color: #000400;
            }
        }
        .social{
            &__link{
                margin-left: 25px;
            }
            &__img{
                width: 40px;
                height: 40px;
            }
        }
}
.audio{
    padding: 30px 0;
    .section-title{
        text-align: center;
        color: #000000;
    }
}
.about-main{
    padding: 50px 0;
    .section-title{
        color: #000000;
        text-align: center;
    }
    &__subtitle{
        font-family:'Gilroy' ;
        
        color: #848181;
        font-size: 25px;
        line-height: 43px;
        max-width: 996px;
        width: 100%;
        margin: 40px auto;
    }
    &__image{
        max-width: 100%;
        max-height: 549px;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            height: 420px;
            width: 100%;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 5;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 78.65%, #FFFFFF 98.96%);
        }
        & img{
            max-width: 100%;
            object-fit: contain;
            object-position: center;
           

        }
    }
    &__text{
        font-family:'Gilroy' ;
        color: #848181;
        font-size: 18px;
        line-height: 31px;
        max-width: 996px;
        width: 100%;
        margin: 30px auto;
    }
    &__line{
        width: 310px;
        height: 1px;
        margin: 0 auto;
        background-color: #848181;
    }
}
.about-press{
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: center;
    padding: 120px 0;
    .slick-prev{
        left: -40px;
        z-index: 2;
        
        &:before{
            content: url(../img/left.svg);
        }
    }
    .slick-next{
        right: -20px;
        z-index: 2;
        &:before{
            content: url(../img/right.svg);
        }
    }
    .container{
        padding: 0 90px;
    }
    .section-title{
        color: #000000;
        text-align: center;
    }
    .press-slider__card{
        padding: 30px 0;
        .press-slider__line {
            width: 130px;
            height: 1px;
            background-color: #848181;
             margin: 25px auto;
        }
        &  blockquote{
            background: #FFFFFF;
            margin: 0 30px;
            width: 270px;
            padding: 12px 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .press-slider__text {
                margin-top: 70px;
                font-size: 22px;
                line-height: 26px;
                text-align: center;
                font-family:'Gilroy' ;
                color: #848181;
                min-height: 100px;
                position: relative;
                &::after{
                    content: url(../img/quotes.svg);
                    position: absolute;
                    top: -50px;
                    right: 0;
                    left: 0;
                }
                
            }
            
        }
        footer{
            & cite{
                font-family: 'Gilroy';
                font-weight: 500;
                font-size: 25px;
                line-height: 29px;
                text-align: center;
                display: block;
                color: #000000;
            }
            .date{
                font-size: 25px;
                line-height: 29px;
                text-align: center;
                font-family:'Gilroy' ;
                color: #848181;
            }
        }
    }
}
.about-award{
    padding: 30px 0;
    .award-wrap{
        justify-content: start;
        margin: 40px 0;
        overflow-y: auto;
        height: 670px;
        .awards{
            &:nth-child(3n+2){
                margin: 0 70px;
            }
            &:last-child{
                .awards__text{
                    &::after{
                        display: none;
                    }
                }
            }
        }
        
    }
    
}
.about-details{
    //
    .festival{
        padding: 0 87px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: .5em;
        margin-bottom: 20px;
           
            & li{
                list-style: disc;
                font-family: 'Gilroy';
            font-size: 18px;
            line-height: 31px;
            color: #848181;
            //max-width: 434px;
            //margin-left: 65px;
            }
        
    }
    
}

.about-famous{
    
    .famuous-slider{
        margin-top: 40px;
    }
    
    .slick-slide{
        margin-top: 20px;
        blockquote{
            height: 250px;
        }
    }
    .slick-slide.slick-current.slick-active.slick-center{
        .famous-text{
            font-size: 15px;
        }
        .famous-card{
            height: 320px;
            //position: absolute;
        }
        //position: absolute;
        
        blockquote{
            margin-left: -80px;
            height: 300px;
            position: absolute;
            background-color: #FFFFFF;
            padding: 50px 15px;
            z-index: 100;
            top:0;
            &::after{
                display: none;
            }
        }

    }

    
    .famous-autor{
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid $gray;;
    }
    .section-title{
        color: #000000;
        text-align: center;
    }
    padding: 30px 0;
    background: $gray2;
    .famous-text{
        font-size: 12px;
        line-height: 26px;
        color: #848181;
        max-width:350px;
        width: 100%;
    }
    & blockquote{
        display: flex;
        justify-content: center;
        align-items: center;
       padding: 40px 0px; 
       position: relative;
       &::after{
           content: '';
           position: absolute;
           display: block;
           right: 0;
           left: 0;
           top: 0;
           bottom: 0;
           background: linear-gradient(0deg, rgba(196, 196, 196, 0.8), rgba(196, 196, 196, 0.8));
       }
       figure{
           & img{
               max-width: 137px;
               max-height: 137px;
               
           }
       }
        figcaption{
            font-size: 15px;
            line-height: 17px;
            font-family:'Gilroy' ;
            color: #848181;
            text-align: center;
            margin-top: 5px;
            
        }
        cite{
            font-size: 25px;
            line-height: 29px;
            font-family:'Gilroy' ;
            color: #000000;
            text-align: center;
            display: block;
        }
    }
    .pagingInfo{
        display: block;
        text-align: center;
        font-size: 25px;
        line-height: 29px;
        font-family:'Gilroy' ;
        color: #848181
    }
    .slick-prev{
        left: 500px;
           top: 350px;
           &::before{
               content: url(../img/left.svg);
           }
      
    }
    .slick-next{
           top: 350px;
        right: 520px;
        &::before{
            content: url(../img/right.svg);
        }
    }
    
}
.full-news{
    padding: 40px 0 120px;
    background-image: url(../img/big-bg.png);
    background-repeat: no-repeat;
    background-position-x: 78%;
    background-position-y: center;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .big-news{
        max-width: 800px;
        width: 100%;
    }
    .big-news-card{
       figure{
           max-width: 800px;
           width: 100%;
             height: 420px;
           img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            
            object-position: center;
           }
       }
       .news-card-date{
        text-align: end;
        font-size: 25px;
        line-height: 37px;
        font-family:'Gilroy' ;
        color: #848181;
        margin-top: 20px;
       }
       .news-card-title{
           font-weight: 500;
        font-size: 35px;
        line-height: 43px;
        font-family:'Gilroy' ;
        color: #000000;
        margin:30px 0;
       }
       .news-card-subtitle{
        font-family:'Gilroy' ;
        font-size: 20px;
        line-height: 23px;
        color: #848181
       }
       .news-card-text{
        font-size: 25px;
        line-height: 37px;
       margin-top: 30px;
        font-family:'Gilroy' ;
        
        color: #000000;
       }
    }
    .news-card{
        
        display: flex;
        flex-direction: column;
        .article{
           margin-right: 0;
    }
}
}
.bg-right{
 
    background-image: url(../img/big-bg.png);
    background-repeat: no-repeat;
    background-position-x: 78%;
    background-position-y: center;
}
.community-page{
    .community-wrap{
        display: flex;
        //justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0;
        margin-top: 40px;
        a{  
            width: 25%;
            margin: 50px 0;
            display: block;
            img{
                display: block;
                margin: 0 auto;
                 max-width: 100%;
                 height: auto;
                 max-height: 120px;
                 object-fit: contain;
                 object-position: center;
            }
        }
    }
}
.news-page{
    .news-wrap{
        display: flex!important;
    }
    .slick-dots li {
        margin: 0 10px;
    }
    .slick-dots li button{
        width: 30px;
      
        height: 6px; 
    }
    .slick-dots li button:before{
        content:url(../img/ul.svg);
        width: 30px;
        height: 6px;
        margin-right: 5px;
       
    }
}
// MEDIA page

.media {
    &__archive {
        @media (max-width: 1200px) {
            padding: 0;
        }

        &__content {
            display: none;
            align-items: flex-start;
            margin-top: 24px;

            @media (min-width: 769px){
                display: flex;
            }

            $years-width: 172px;

            &__years {
                display: flex;
                flex-direction: column;
                width: $years-width;
                margin-right: 24px;

                &__item {
                    box-shadow: $box-shadow;
                    width: 100%;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-bottom: 8px;
                    font-size: 20px;

                    &-active {
                        background-color: $red;
                        color: white;
                    }
                }
            }

            &__photos {
                box-shadow: $box-shadow;
                width: calc(100% - #{$years-width});
                height: 100%;
                background-color: white;

                &__slider {
                    position: relative;
                    height: 85%;
                    padding: 20px;

                    &__item {
                        display: grid !important;
                        grid-template-columns: 33.33% 33.33% 33.33%;

                        img {
                            cursor: pointer;
                            height: 175px;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    div {
                        height: 100% !important;
                    }

                 

                    .slick-arrow {
                        top: 99%;
                        transform: scale(0.7);
                    }

                    .slick-prev {
                        left: 45%;

                        &::before{
                            content: url(../img/left.svg);
                        }
                      
                    }

                    .slick-next{
                        right: 45%;

                        &::before{
                            content: url(../img/right.svg);
                        }
                    }
                }

                &__navigation {
                    text-align: center;
                    font-size: 25px;
                    line-height: 29px;
                    color: $gray;
                    height: 40px;
                }
            }
        }

        &__content-mobile {
            display: none;
            margin-top: 36px;

            @media (max-width: 768px){
                display: block;
            }

            &__items {
                &__item {
                    width: 100%;
                    box-shadow: $box-shadow;
                    margin-bottom: 8px;
                    background-color: white;

                    &-opened {
                        .media__archive__content-mobile__items__item__year {
                            background-color: $red;
                            color: white;
                            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                            margin-bottom: 16px;
                        }

                        .media__archive__content-mobile__items__item__photos {
                            height: 500px;
                            display: block;
                        }
                    }

                    &__year {
                        cursor: pointer;
                        font-size: 20px;
                        text-align: center;
                        padding: 16px;
                        transition: .3s;
                    }

                    &__photos {
                        overflow-y: auto;
                        overflow-x: hidden;
                        height: 0;
                        transition: .3s;

                        img {
                            width: 100%;
                            height: 260px;
                            object-fit: cover;
                            padding: 0 16px 16px;
                        }
                    }
                }
            }
        }
    }

    &__video {
        background-color: $gray2;
        padding: 48px 24px 60px;
        margin-bottom: 48px;

        @media (max-width: 576px) {
            padding-left: 0;
            padding-right: 0;
        }

        &__content {
            margin-top: 48px;
            display: flex;
            flex-wrap: nowrap;
            height: 436px;

            &__player {
                height: 100%;
                width: 90%;
            }

            &__list {
                margin-left: 24px;
                height: 100%;
                overflow-y: auto;
                position: relative;
                width: 134px;

                &__control {
                    position: absolute;

                    &-prev {
                        top: 0;
                    }

                    &-next {
                        bottom: 0;
                    }
                }

                &__preview {
                    width: 100px;
                    height: 60px;
                    cursor: pointer;
                    border: 1px solid black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 12px;
                    font-size: 13px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &-active {
                        background-color: $red;
                    }
                }
            }

            @media (max-width: 768px) {
                height: auto;
                flex-wrap: wrap;

                &__player {
                    width: 100%;
                    height: 436px;
                }

                &__list {
                    height: auto;
                    margin: 0;
                    width: 100%;
                    margin-top: 24px;
                    white-space: nowrap;

                    &__preview {
                        display: inline-flex;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

//fix for wordpress
.menu1 .menu-item > a {
    font-family: 'Gilroy';
    color: #848181;
    text-decoration: none;
}

.menu-item > a:hover, .menu-item > a :active {
    color: #000000;
    transition: color 0.25s ease-out;
}

.menu2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px 25px;
}

.menu2 .menu-item > a {
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px 0;
}

.menu-item > a:hover, .menu-item > a :active {
    color: #000000;
    transition: color 0.25s ease-out;
}

.footer-colum li {
    margin: 0;
}

//end fix for wordpress


.section-form{
    padding: 60px 0;
    .section-title{
        text-align: center;
        color: #000000;
        margin-bottom: 40px;
    }
}
.form-wrap{
    font-family: 'Gilroy';  
    background: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    .form{
        & input[type = "submit"]{
            margin-top: 28px;
        }
        &__text{
            font-weight: 400;
        }
        &__title{
            font-weight: 700;
            color: #000000;
            font-size: 20px;
            margin-bottom: 28px;
            line-height: 140%;
            
        }
        &__label{
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;
            & p{
                font-size: 14px;
                color: $gray;
            }
            
            &--double{
                display: flex;
                justify-content: space-between;
                .form__label{
                  
                    flex-basis: 45%;
                }
            }

        }
        &__label__title{
            font-size: 16px;
            color: black;
            font-weight: 500;
            margin-bottom: 8px;
            position: relative;
            &--requird{
                &:after{
                    content: '\2217';
                    position: absolute;
                   top: -2px;
                   color: #B6251D;
                   font-size: 15px;
                   
                }
                
            }
        }
        .btn{
            display: block;
            margin: 0 auto;
        }
      
        &__label__input{
                
            height: 30px;
            background-color: #F0F0F0;
            padding: 8px;
            margin-top: 8px;
            border: none;
            outline: none;
            font-size: 12px;
            display: block;
            width: 100%;
            &:required {
                border-left: 2px solid green;
              }
            &:invalid{
                border-left: 2px solid #B6251D;
            }
            
            &::placeholder{
                color: #857d7d;
                font-size: 14px;
            }
        }
        &__label__textarea{
            height: calc(20px * 4);
            resize: none;
        }
    }
}


@import'media';


