@import "../variables";

.discography {
  &__items {
    margin-top: 36px;

    @media (max-width: 1200px) {
      padding: 0 24px;
    }
  }

  &__item {
    padding: 8px 12px;
    width: 100%;
    background: white;
    box-shadow: $box-shadow;
    margin-bottom: 12px;
    transition: $transition;
    position: relative;

    &__toggler {
        position: absolute;
        right: 32px;
        top: 12px;

        color: $gray;
        padding: 10px;
        transition: $transition;
        cursor: pointer;

        &:hover {
            color: black;
        }

        &-open {}

        &-close {
            font-size: 26px;
        }
    }

    &-closed {
        .discography__item {
            &__toggler-close {
                display: none;
            }

            &__toggler-open {
                display: inline-block;
                transform: rotate(-90deg) scale(0.6);

                &::before{
                    content: url(../img/left.svg);
                }
            }

            &__info {
                img {
                    width: 95px;
                    height: 80px;
                }

                &__text {
                    @media (max-width: 768px) {
                        h6 {
                            font-size: 14px;
                            padding-top: 24px;
                            white-space: normal;
                        }
                    }

                    p {
                        display: none;
                    }
                }
            }

            &__audios {
                display: none;
            }
        }
    }

    &-opened {
        padding: 32px;
        height: auto;
        overflow: hidden;

        img {
            width: 268px;
            height: 268px;
        }

        .discography__item {
            &__toggler-close {
                display: inline-block;
            }

            &__toggler-open {
                display: none;
            }

            &__info {
                    @media (max-width: 768px) {
                        flex-wrap: wrap;

                        img {
                            margin: 24px 0 0 0;
                            width: 100%;
                        }
                    }

                &__text {
                    max-width: none;
        
                    p {
                        display: inline-block;
                    }
            
                    h6 {
                        white-space: normal;
                    }
                }
            }

            &__audios {
                display: block;
            }
        }
    }

    &__info {
        display: flex;

        img {
            margin: 0 24px 0 0;
            transition: $transition;
        }

        &__text {
            max-width: calc(100% - 196px);
            overflow: hidden;

            h6 {
                font-size: 25px;
                padding-top: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 1.2;
            }

            p {
                white-space: normal;
                color: $gray;
                font-size: 15px;
                margin-top: 12px;
                line-height: 1.4;
            }
        }
    }

    &__audios {
        margin-top: 36px;
        // max-height: 50%;
        // overflow: auto;
    }
  }
}
