@import "../variables";

.discography {
  &__items {
    margin-top: 36px;
  }

  &__item {
    height: 100px;
    padding: 8px 12px;
    width: 100%;
    background: white;
    box-shadow: $box-shadow;
    margin-bottom: 12px;
    transition: $transition;
    position: relative;

    &__toggler {
        position: absolute;
        right: 32px;
        top: 12px;

        color: $gray;
        padding: 10px;
        transition: $transition;
        cursor: pointer;

        &:hover {
            color: black;
        }

        &-open {}

        &-close {
            font-size: 26px;
        }
    }

    &-closed {
        img {
            width: 95px;
            height: 80px;
        }

        p {
            display: none;
        }

        .discography__item__audios {
            display: none;
        }

        .discography__item__toggler-close {
            display: none;
        }

        .discography__item__toggler-open {
            display: inline-block;
            transform: rotate(-90deg) scale(0.6);

            &::before{
                content: url(../img/left.svg);
            }
        }
    }

    &-opened {
        padding: 32px;
        height: 784px;
        overflow: hidden;

        img {
            width: 268px;
            height: 268px;
        }

        p {
            display: inline-block;
        }

        .discography__item__audios {
            display: block;
        }

        .discography__item__toggler-close {
            display: inline-block;
        }

        .discography__item__toggler-open {
            display: none;
        }
    }

    &__info {
        display: flex;

        img {
            margin: 0 24px 0 0;
            transition: $transition;
        }

        h6 {
            font-size: 25px;
            padding-top: 32px;
        }

        p {
            white-space: normal;
            color: $gray;
            font-size: 15px;
            margin-top: 12px;
            line-height: 1.4;
        }
    }

    &__audios {
        margin-top: 36px;
        // max-height: 50%;
        // overflow: auto;
    }
  }
}
