header.header
    .container
        .header-wrap
            .logo
                a(href="index.html")
                    img.logo__image(src="./img/logo.png", alt="", sizes="", srcset="")
            nav.nav
                ul
                    li
                        a.nav__link(href="about.html") Про нас
                    li
                        a.nav__link(href="news.html") Новини
                    li
                        a.nav__link(href="media.html") Медіа
                    li
                         a.nav__link(href="community.html") Спільнота
                    li
                        a.nav__link(href="#") Запросити нас
                    li
                        a.nav__link(href="contact.html") Контакти
                    li
                        .dropdown
                            a.default.nav__link(href="#") Укр
                                img(src="./img/arrow_down.svg", alt="", srcset="")
                            .dropdown-content
                                a.nav__link(href="#") Eng
            a(href="http://").btn Підтримати
            .burger
                span.change1
                span.change2
                span.change3