.news-wrap
    article.article
        figure
            img.article__img(src="./img/news.jpeg", alt="", srcset="")
        .article-section
            span.article__date 09/04
            p.article__title Lorem<br> ipsum dolo sit amet,
            p.article__text Ut enim ad minim veniam,quis nostrud exercitation ullamc
        a.btn-about.btn-article(href="#") Більше
    article.article
        figure
            img.article__img(src="./img/news.jpeg", alt="", srcset="")
        .article-section
            span.article__date 09/04
            p.article__title Lorem<br> ipsum dolo sit amet,
            p.article__text Ut enim ad minim veniam,quis nostrud exercitation ullamc
        a.btn-about.btn-article(href="#") Більше
    article.article
        figure
            img.article__img(src="./img/news.jpeg", alt="", srcset="")
        .article-section
            span.article__date 09/04
            p.article__title Lorem<br> ipsum dolo sit amet,
            p.article__text Ut enim ad minim veniam,quis nostrud exercitation ullamc
        a.btn-about.btn-article(href="#") Більше
    article.article
        figure
            img.article__img(src="./img/news.jpeg", alt="", srcset="")
        .article-section
            span.article__date 09/04
            p.article__title Lorem<br> ipsum dolo sit amet,
            p.article__text Ut enim ad minim veniam,quis nostrud exercitation ullamc
        a.btn-about.btn-article(href="#") Більше
    article.article
        figure
            img.article__img(src="./img/news.jpeg", alt="", srcset="")
        .article-section
            span.article__date 09/04
            p.article__title Lorem<br> ipsum dolo sit amet,
            p.article__text Ut enim ad minim veniam,quis nostrud exercitation ullamc
        a.btn-about.btn-article(href="#") Більше
    article.article
        figure
            img.article__img(src="./img/news.jpeg", alt="", srcset="")
        .article-section
            span.article__date 09/04
            p.article__title Lorem<br> ipsum dolo sit amet,
            p.article__text Ut enim ad minim veniam,quis nostrud exercitation ullamc
        a.btn-about.btn-article(href="#") Більше
                            