header.header
    .container
        .header-wrap
            .logo
                a(href="#")
                    img.logo__image(src="./img/logo.png", alt="", sizes="", srcset="")
            nav.nav
                ul
                    li
                        a.nav__link(href="#") Про нас
                    li
                        a.nav__link(href="#") Новини
                    li
                        a.nav__link(href="#") Медіа 
                    li
                         a.nav__link(href="#") Спільнота
                    li
                        a.nav__link(href="#") Запросити нас
                    li
                        a.nav__link(href="#") Контакти  
            .dropdown
                a.default.nav__link(href="#") Укр
                    img(src="./img/arrow_down.svg", alt="", srcset="")
                .dropdown-content
                    a.nav__link(href="#") Eng
            button.btn Підтримати