<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/ajax-loader.gif")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.eot")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.ttf")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.woff")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.svg")
        title Document
    body
        include partials/header
        main
            section.main
                .container
                    .main-wrap
                        .main-header
                            .main-header__wrap
                                h1.main__title Хор Щедрик
                                p.main__subtitle диригент Маріанна Сабліна
                            .year Засновано
                                span 1971
                        .main-info
                            img.main__img(src="./img/main-clider.jpg", alt="", srcset="")
                            img.main__img(src="./img/main-clider.jpg", alt="", srcset="")
                        .main-about 
                            p.main__text Щедрик - піввікова унікальна традиція хорового співу
                            a.btn-about(href="#") Детальніше
            section.award
                .container
                    h2.section-title Наші нагороди
                    .award-wrap
                        .awards
                            p.awards__title 2019
                            p.awards__text Перше місце з відзнакою “Видатний успіх” в категорії Treble Choirs / Жіночі хори/ XIII “Summa Cum Laude” International Youth Music Festival у Відні (Австрія), 2019 
                        .awards
                            p.awards__title 2018
                            p.awards__text «Золотий Давид» — Гран-прі VII Міжнародного фестивалю-конкурсу оркестрових і хорових колективів у Флоренції (Італія), 2018
                        .awards
                            p.awards__title 2005
                            p.awards__text Золотий диплом найвищого ступеня та Гран-прі I Міжнародного конкурсу «Musica sacra a Roma» у Римі (Італія), 2005
                    a.btn-about.award__btn(href='#') Більше нагород
            section.news
                .container
                    h2.section-title Новини
                    .news-wrap
                        -
                            var all_articles = [
                                {
                                    img: "./img/news.jpeg",
                                    name: "Lorem<br> ipsum dolo sit amet",
                                    text: "Ut enim ad minim veniam,quis nostrud exercitation ullamc"
                                }, {
                                    img: "./img/news.jpeg",
                                    name: "Lorem<br> ipsum dolo sit amet",
                                    text: "Ut enim ad minim ffffffffffffffffffffffffffffffffffffgjfgjhgfkjhgkghkghkhgkghk,quis nostrud exercitation ullamc"
                                }, {
                                    img: "./img/kitten.jpg",
                                    name: "Lorem<br> ipsum dolo sit amet",
                                    text: "Ut enim ad minim veniam,quis nostrud exercitation ullamc"
                                },
                            ]
                        each art in all_articles
                            include partials/article-tile
                    a.btn-about.news__btn(href='#')  Більше новин
            section.family
                .container
                    .family-wrap
                        h2.section-title Бажаєте стати артистом хору Щедрик?
                        button.btn Записатись
            section.audio.bg-right
                .container
                    h6.section-title.section-title-black.center Дискографія
                    .discography__items
                        each val in [1, 2, 3, 4, 5]
                            .discography__item.discography__item-closed
                                span.discography__item__toggler.discography__item__toggler-open
                                span.discography__item__toggler.discography__item__toggler-close &#10005;

                                .discography__item__info
                                    img(src="https://market.interra.ru/media/product/pic/9f309fdc-70ad-11e9-bd41-00505693338e.JPG")
                                    div
                                        h6 Оливье Мессиан. Три маленькие литургии
                                        p «Три маленьие литургии» для хора, фортепиано, челесты, вибрафона, волн Мартено, ударных и струнного оркестра, написаны Мессианом в 1944 году. <br /><br /> Автор, переживший до этого ужасы гитлеровского концлагеря , создал произведения удивительной свежести, напоенного ощущением свободы и света, слияния с природой и радости бытия.

                                .discography__item__audios
                                    each val in ['Presque vif, avec une grande joie', 'Presque vif, avec une grande joie', 'Presque vif, avec une grande joie', 'Presque vif, avec une grande joie']
                                        h5.audio-name= val
                                        audio(controls)
                                            source(src="http://geralex.site/media/audio/brain-music.mp3")
                                            p Your browser doesn't support the audio tag
            section.hear
                .container
                    .family-wrap
                        h2.section-title Бажаєте почути виступ хору Щедрик?
                        a(href="http://").btn Запросити
            section.community  
                .container
                    h2.section-title Спільнота
                    .community-wrap
                        .comunity-part
                            a(href="http://")
                                img.community__img(src="./img/kpi.jpg", alt="", srcset="")
                            a(href="http://")
                                img.community__img(src="./img/tofi.jpg", alt="", srcset="")
                            a(href="http://")
                                img.community__img(src="./img/info.jpg", alt="", srcset="")
                            a(href="http://")
                                img.community__img(src="./img/commut.jpg", alt="", srcset="")
                            a(href="http://")
                                img.community__img(src="./img/cultural.png", alt="", srcset="")
            section.contacts
                .container  
                    h2.section-title Контакти
                    .contacts-wrap
                        .contacts-info
                            .contacts-about
                                h5.contacts__title Наша адреса:
                                address.contacts__text Україна, Київ-004, вул. Дарвіна, 2,<br>Палац дітей та юнацтва <br>Печерського району
                            .contacts-about
                                h5.contacts__title Контакти:
                                a.contacts__text(href="tel:+38 (044) 331 43 29") +38 (044) 331 43 29
                                a.contacts__text(href="tel:+38 (067) 915 99 90") +38 (067) 915 99 90
                                a.contacts__text(href="mailto:Shchedryk@gmail.com") Shchedryk@gmail.com
                        .contacts-map
                            img.contacts-map__img(src="./img/map.png", alt="", srcset="")
        include partials/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
        script(src="./js/main.js")