<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/ajax-loader.gif")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.eot")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.ttf")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.woff")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.svg")
        title Медіа
    body
        include partials/header
        main.media
            section.container.section.media__archive
                h6.section-title.section-title-black.center Архів фотографій
                .media__archive__content
                    .media__archive__content__years
                        each val, index in ['2020 - 2010', '2010 - 2000', '2000 - 1990', '1990 - 1980', '1980 - 1970', '1970 - 1960']
                            span(class=index ? 'media__archive__content__years__item' : 'media__archive__content__years__item media__archive__content__years__item-active')=val
                    .media__archive__content__photos
                        .media__archive__content__photos__slider
                            each val in [1, 2, 3]
                                .media__archive__content__photos__slider__item
                                    img(src="https://static.ukrinform.com/photos/2019_07/thumb_files/630_360_1562593246-984.jpg")
                                    img(src="https://hungary.mfa.gov.ua/storage/app/uploads/public/5df/2df/d89/5df2dfd892a33806183584.jpg")
                                    img(src="https://i.ytimg.com/vi/mRaxb4HLhsw/maxresdefault.jpg")
                                    img(src="https://novyny.org/wp-content/uploads/2019/07/cropped-SCL-243klein.jpg")
                                    img(src="https://www.ufest.in.ua/images/common/1/0/3/6/4/1/5c367e396e1ab.jpg")
                                    img(src="https://womo.ua/wp-content/uploads/2016/03/12039748_994876960560825_2052831705818175456_n.jpg")
                                    img(src="https://hungary.mfa.gov.ua/storage/app/uploads/public/5df/2df/d89/5df2dfd892a33806183584.jpg")
                                    img(src="https://m.day.kyiv.ua/sites/default/files/main/articles/09082019/24hor2.jpg")
                                    img(src="https://static.ukrinform.com/photos/2019_07/thumb_files/630_360_1562593246-984.jpg")
                                    img(src="https://hungary.mfa.gov.ua/storage/app/uploads/public/5df/2df/d89/5df2dfd892a33806183584.jpg")
                                    img(src="https://i.ytimg.com/vi/mRaxb4HLhsw/maxresdefault.jpg")
                                    img(src="https://static.ukrinform.com/photos/2019_07/thumb_files/630_360_1562593246-984.jpg")
                        .media__archive__content__photos__navigation


            section.section.media__video
                h6.section-title.section-title-black.center Відео
                .media__video__content.container
                    iframe.media__video__content__player(frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture")
                    .media__video__content__list
                        //- .media__video__content__list__control.media__video__content__list__control-prev ^
                        each val in ['p9PxLnf1tbA', 'EGnJVfck-FA', 'u6DdENKE61k', 'VbD23jcn04Y', 'xJMSePSOxFs', 'wsv_gFgGKaY', 'rsZ6yTbTWfg', '0tgmPf_m58c', 'PVKFtZcANc8', 'PcGrH7kq-lQ']
                            .media__video__content__list__preview(data-videoid=val)=val
                        //- .media__video__content__list__control.media__video__content__list__control-next v


            section.container.section.discography
                h6.section-title.section-title-black.center Дискографія
                .discography__items
                    each val in [1, 2, 3, 4, 5]
                        .discography__item.discography__item-closed
                            span.discography__item__toggler.discography__item__toggler-open
                            span.discography__item__toggler.discography__item__toggler-close &#10005;

                            .discography__item__info
                                img(src="https://market.interra.ru/media/product/pic/9f309fdc-70ad-11e9-bd41-00505693338e.JPG")
                                div
                                    h6 Оливье Мессиан. Три маленькие литургии
                                    p «Три маленьие литургии» для хора, фортепиано, челесты, вибрафона, волн Мартено, ударных и струнного оркестра, написаны Мессианом в 1944 году. <br /><br /> Автор, переживший до этого ужасы гитлеровского концлагеря , создал произведения удивительной свежести, напоенного ощущением свободы и света, слияния с природой и радости бытия.

                            .discography__item__audios
                                each val in ['Presque vif, avec une grande joie', 'Presque vif, avec une grande joie', 'Presque vif, avec une grande joie', 'Presque vif, avec une grande joie']
                                    h5.audio-name= val
                                    audio(controls)
                                        source(src="http://geralex.site/media/audio/brain-music.mp3")
                                        p Your browser doesn't support the audio tag


        include partials/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
        script(src="./js/main.js")